<div class="wrapper">
  <div class="topWrapper">
    <div class="logoWrapper">
      <img src="assets/icon/logo3.png" alt="">
    </div>
      <p class="title">Sign Up</p>
  </div>
  <div class="bottomWrapper">
    <div class="inputWrapper">
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Full Name</ion-label>
            <ion-input type="Text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
      </ion-list>
      </ion-content>

      <div class="buttonWrapper">
        <button  class="signin"  (click)="signUp()">Sign Up</button>
        <button type="button" name="button" class="fb" routerLink="/landing">Sign Up with Facebook</button>
        <p class="subHeading">Already have an acoount? <span routerLink="/signin">Sign In</span></p>
      </div>
    </div>
  </div>
  <div>

  </div>
