.wrapper {
  .bottomWrapper{
    .inputWrapper{
      height: 70%;
      .buttonWrapper{
        bottom: -100px;
height: 126px;
        .fb{
          background-color: #3b5998;
          width: 90%;
          padding: 15px 10px;
          border-radius: 30px;
              color: white;
              font-size: 14px;
              margin-top: 15px;


        }

      }
    }
  }
}
