<div class="wrapper">
    <span class="imgWrapper">
      <img src="assets/icon/logo3.png" alt="">
    </span>
    <p class="title">Fitness Club</p>
    <p class="ourMoto">Sweat. Smile. Repeat.</p>

    <div class="buttonWrapper">
      <button class="signUp" type="button" name="button" routerLink="/signup" >Sign Up</button>
      <button class="signIn" type="button" name="button" routerLink="/signin">Sign In</button>
    </div>
</div>
