
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  .imgWrapper{
    width: 100px;
    height: 85px;
    padding: 10px;
    display: flex;
    margin-top: 44%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 5px #f7f7f780;
    border-radius: 10px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .title{
    margin: 0px;
    margin-top: 15px;
    font-size: 24px;
    color: #000;
  }
  .ourMoto{
    margin: 0px;
    padding-top: 5px;
    font-size: 14px;
    color: #000000;
  }
  .buttonWrapper{
     display: flex;
     flex-direction: column;
     width: 100%;
     align-items: center;
     justify-content: center;
     margin-top: 30%;
     button{
       width: 90%;
        padding: 15px 10px;
        border-radius: 30px;
        font-size: 14px;
        color: #000000;
        background-color: #1fc8db;
        background-image: linear-gradient(141deg, #2cb5e8 51%, #1fc8db 75%);
        color: white;
        opacity: 0.95;
        outline: none;
        border: none;

     }
    .signUp{
      margin-bottom: 15px;
    }
    .signIn{

    }
  }
}
