<div class="wrapper">
    <span class="imgWrapper">
      <img src="assets/icon/logo3.png" alt="">
    </span>
    <p class="title">Fitness Club</p>
    <div class="progressBarWrappeer">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
</div>
