
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  flex-flow: column;
  .imgWrapper{
    width: 100px;
    height: 85px;
    padding: 10px;
    display: flex;
    margin-top: 44%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 5px #f7f7f780;
    border-radius: 10px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .title{
    margin: 0px;
    margin-top: 15px;
    font-size: 24px;
    color: #000;
  }
  .progressBarWrappeer{
    width: 30%;
    position: absolute;
    bottom: 15%;
  }
}
