<div class="wrapper">
  <div class="topWrapper">
    <div class="logoWrapper">
      <img src="assets/icon/logo3.png" alt="">
    </div>
      <p class="title">SignIn</p>
  </div>
  <div class="bottomWrapper">
    <div class="inputWrapper">
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Enter Your Name</ion-label>
            <ion-input type="Text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-content>

      <div class="buttonWrapper">
        <button  class="signin" routerLink="/signup">Sign In</button>
        <p class="subHeading">Don't have any acoount? <span routerLink="/signup">Create Now</span></p>
      </div>
    </div>
  </div>
  <div>

  </div>
