.wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
  .topWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column;

    height: 40%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #2cb5e8 51%, #1fc8db 75%);
    .logoWrapper{
      width: 100px;
      height: 85px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 10px 1px #e6e2e2;
      border-radius: 10px;
      background-color:#fff;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .title{
      margin: 0px;
      margin-top:   10px;
      font-size: 18px;
      color: #fff;
    }
  }
  .bottomWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    .inputWrapper{
      display: flex;
      flex-flow: column;
      width: 90%;
      height: 55%;
      box-shadow: 0px 0px 10px 1px #e6e2e2;
      position: relative;
      top: -50px;
      border-radius: 5px;
      padding: 20px 15px;
      background-color: #ffffff;
      .buttonWrapper{
        position: absolute;
        margin-top: -14px;
        left: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        bottom: -40px;
        height: 80px;
        .signin{
          width: 90%;
          padding: 15px 10px;
          border-radius: 30px;
          font-size: 14px;
          color: #000000;
          background-color: #1fc8db;
          background-image: linear-gradient(141deg, #2cb5e8 51%, #1fc8db 75%);
          color: white;
          opacity: 0.95;
          outline: none;
          border: none;
        }

        p{
          margin: 0px;
          padding-top: 5px;
          font-size: 12px;
          color: #00000096;
          span{
            color: #000;
          }
        }
      }

    }
  }
}
