
.header{
  background-color: #1fc8db;
  color: white;
  background-image: linear-gradient(141deg, #2cb5e8 51%, #1fc8db 75%);
}
.topWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: column;

  height: 40%;
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #2cb5e8 51%, #1fc8db 75%);
  p{
    font-size: 20px;
    color: white;
  }
}
.bottomWrapper{
  display: flex;
  width: 100%;
  height: 60%;
  padding: 15px;

  flex-flow: column;
  .cardwrapper{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 100%;

     .innerCard{
      box-shadow: 0px 0px 10px 1px #e6e2e2;
      width: 48%;
      justify-content: center;
      align-items: center;
      display: flex;
      margin:20px 0px;
     }
  }
  .singleCardWrapper{
    display: flex;

     justify-content: center;
     align-items: center;
    width: 100%;
       box-shadow: 0px 0px 10px 1px #e6e2e2;

  }
  .topcard{
        background-color: white;
        margin-top: -65px;
  }
  .card{
     height: 100px;
  }
}
