<ion-header >
  <ion-toolbar color="header" class="ion-text-center header">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="has-header">
  <div class="topWrapper">
     <p>Lorem ipsum dolor sit amet ?</p>
  </div>
  <div class="bottomWrapper" >
    <div class="singleCardWrapper card topcard" routerLink="/track">
         <p>Track My Fitness</p>
    </div>

    <div class="cardwrapper">
        <div class="innerCard card" routerLink="/workoutgenerater">
           <p>Workout Generater</p>
        </div>
        <div class="innerCard card" routerLink="/dietplan">
          <p>Diet Plan</p>
        </div>
    </div>

    <div class="singleCardWrapper card" routerLink="/ourplan">
           <p>Our Plan</p>
    </div>

  </div>
</ion-content>



<ion-footer>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" routerLink="/landing">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-label>Profile</ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="startScanning()">
      <ion-label>Scan</ion-label>
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-tab-button>



    <ion-tab-button tab="profile" routerLink="/notification">
      <ion-label>Notification</ion-label>
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" routerLink="/setting">
      <ion-label>Settings</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-footer>
