.header{
  background-color: #1fc8db;
  color: white;
  background-image: linear-gradient(141deg, #2cb5e8 51%, #1fc8db 75%);
  padding: 0px 15px;
  .backButton{
    float: left;
    position: relative;
    top: 5px;
  }
}
.wrapper{
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 10px 0px 10px 10px;
  overflow: auto;

  ul{
    margin: 0px;
    list-style-type: none;
    padding: 0px;

    li{
      margin-left: 52px;
      padding: 10px 0px;
      border-bottom: 1px solid #0000000f;
      position: relative;
      .imgWrapper{
        width: 40px;
        height: 40px;
        overflow: hidden;
        float: left;
        border-radius: 100%;
        position: absolute;
        left: -50px;
        top: 10px;
        img{
          width: 100%;
          height: 100%;
        }

      }
      p{
        margin: 0px;
        padding:0px;
        font-size: 14px;
      }
      .date{
        margin: 0px;
        padding:0px;
        font-size: 12px;
        color: #0000007d;
      }

    }
  }
}
