<ion-header>
  <ion-toolbar color="header" class="ion-text-center header">
    <span class="backButton" routerLink="/landing">
      <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
      </span>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="wrapper">
  <ul>
    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li><li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>

    <li>
      <span class="imgWrapper">
        <img src="assets/icon/demoprofile.jpg" alt="">
      </span>
      <p><b>Ayush sahu  </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <p class="date">14 Apr</p>
    </li>
  </ul>
</div>
</ion-content>
