.Wrapper{
  display: flex;
  flex-flow: column;
  .topWrapper{
    width: 100%;
    height: 40%;
    background-image: linear-gradient(141deg, #2cb5e8 51%, #1fc8db 75%);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .profileWrapper{
      width: 90%;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px 1px #e6e2e2;
      display: flex;
      flex-flow: column;
      top: 50%;
      position: relative;
      height: 210px;
      align-items: center;
      .imgWrapper{
        margin-top: -50px;
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 10px 1px #e6e2e2;
        border-radius: 5px;
        border-radius: 1000%;

        position: relative;
        img{
          width: 100%;
          height: 100%;
          border-radius: 100%;
        }
        span{
          width: 30px;
          height: 30px;
          position: absolute;
          background-color: #e9e4e4;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          top: 61%;
          right: -10px;
          z-index: 37;
          border: 3px solid #fff;
        }

      }
      .profileDetail{
        width: 100%;
        text-align: center;
        p{
          margin:0px;
           &:first-child{
             margin-top: 10px;
             margin-bottom: 5px;
           }

        }
      }
    }
    .trackWrapper{
      display: flex;
      width: 100%;
      flex-flow: row;
      border-top: 1px solid #f7f7f7;
      text-align: center;
      margin-top: 30px;
      .trackInnerWrapper{
        width: 33%;
        border-right: 1px solid #f7f7f7;
        padding: 15px;
         &:last-child{
           border-right: none;
         }
        span{

        }
        p{
             margin: 0px;
        }
      }
    }

  }
  .bottomWrapper{
    display: flex;
    flex-flow: column;
    padding:5%;
    .goal{
      margin-top:35%;
      h3{
         margin: 0px;
         font-family: 'Dosis', sans-serif;
         position: relative;
          span{

          }
      }
      p{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    margin: 5px 0px 20px 0px;
    line-height: 20px;
      }
    }

    .cardWrapper{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      .card{
        width: 30%;
        display: flex;
        flex-flow: column;
        box-shadow: 0px 0px 10px 1px #e6e2e2;
        text-align: center;
        height: 85px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;

         &:first-child{
               background-image: linear-gradient(138deg, #e82c8f96 40%, #db1f1f6e 75%);
         }
         &:last-child{
              background-image: linear-gradient(141deg, #00BCD4 51%, #00BCD4 75%);
         }
         &:nth-child(2){
              background-image: linear-gradient(136deg, #e82c2ca6 36%, #ff572287 75%);
         }
        span{
         width: 30px;
         height: 30px;
        }
        p{
          font-size: 14px;
          font-weight: 500;
          color: white;
          margin:0px;

        }
      }
    }

  }
}
