<div class="Wrapper">
  <div class="topWrapper">


       <div class="profileWrapper">
         <div class="imgWrapper">

            <img src="assets/icon/demoprofile.jpg" alt="">
            <span>
              <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
            </span>

         </div>
         <div class="profileDetail">
           <p>Janet Walker</p>
            <p>stanford University</p>
         </div>

         <div class="trackWrapper">
           <div class="trackInnerWrapper">
                 <span>
                    <ion-icon ios="ios-clock" md="md-clock"></ion-icon>
                 </span>
                 <p>100 min</p>
           </div>
           <div class="trackInnerWrapper">
             <span>
               <ion-icon ios="ios-call" md="md-call"></ion-icon>
             </span>
             <p>Contact</p>
           </div>
           <div class="trackInnerWrapper">
               <span>
                 <ion-icon ios="ios-navigate" md="md-navigate"></ion-icon>
               </span>
               <p>Location</p>
           </div>
         </div>

     </div>
  </div>
  <div class="bottomWrapper">
     <div class="goal">
       <h3>Goal  <span> <ion-icon ios="ios-create" md="md-create"></ion-icon></span></h3>
       <p>minima voluptate iusto aspernatur, sapiente temporibus, quod voluptates?</p>
     </div>
     <div class="cardWrapper">
       <div class="card">
          <span>
            <img src=" assets/icon/payment.png">
          </span>
          <p>Payment</p>
       </div>
       <div class="card">
         <span>
           <img src="assets/icon/payment.png">
         </span>
         <p>Payment</p>
       </div>
       <div class="card">
         <span>
           <img src="assets/icon/payment.png">
         </span>
         <p>Payment</p>
       </div>
     </div>

  </div>

</div>


<ion-footer>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" routerLink="/landing">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-label color="primary">Profile</ion-label>
      <ion-icon name="person" color="primary"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/notification">
      <ion-label>Notification</ion-label>
      <ion-icon name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings" routerLink="/setting">
      <ion-label>Settings</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-footer>
