.wrapper{
   display: flex;
   flex-flow: column;
   height: 100%;
  .topWrapper{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 40%;
    align-items: center;

    background-image: linear-gradient(141deg, #2cb5e8 51%, #1fc8db 75%);
    header{
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px 20px 20px;
      width: 100%;
      .backButton{
        color:white;
      }
      h2{
      font-size: 16px;
      color:#ffffff;
      margin: 0px;

      }
      .profileWrapper{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
        border: 2px solid #ffffff;
        padding: 4px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 100%;

        }
      }
    }

    .trackerMenuWrapper{
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 1px #e6e2e2;
    display: flex;
    flex-flow: column;
    position: relative;
    height: 210px;
    align-items: center;
    padding: 15px;
    top: 20%;

    position: relative;
      .trackermenuheader{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
            margin-bottom: 20px;
        p{
         margin: 0px;
             font-size: 16px;
        }
        .calendarWrapper{

        }
      }
      p{
        width: 100%;
          font-size: 26px;
          margin: 15px;

      }
      .trackerDate{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        .subContainer{
          width: 30%;
          display: flex;
          flex-flow: column;
         align-items: center;
         justify-content: center;
             padding: 5px 5px;
             border-right: 1px solid #f7f7f7;
          p{
            margin: 0px;
            font-size: 14px;
            text-align: center;
          }
          h3{
          font-size: 16px;
          margin:0px;
              margin-top: 10px;
          }
        }
      }
    }
  }
  .bottomWrapper{
    width: 100%;
height: 60%;
padding: 85px 15px 15px 15px;
display: flex;
flex-flow: column;
    h3{
margin:0px;
font-size: 16px;
    }
    .cardWrapper{
      box-shadow: 0px 0px 10px 1px #e6e2e2;
  width: 100%;
  height: 75px;
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  h4{
    margin: 0px;
    font-size: 16px;
  }
  p{
    margin: 0px;
font-size: 14px;
  }
    }
  }
}
